<div class="a_level template cv_item">
  <div class="field has-addons">
    <p class="control">
      <a class="button is-danger is-rounded" onclick="deleteItem(this)">
        X
      </a>
    </p>
    <p class="control is-expanded">
      <input class="input is-rounded" type="text" placeholder="Subject" name="subject_name">
    </p>
    <div class="control">
      <div class="select is-rounded" name="grade">
        <select>
          <option class="default_option">Grade</option>
          <option>A*</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
          <option>E</option>
          <option>F</option>
          <option>G</option>
          <option>U</option>
        </select>
      </div>
    </div>
  </div>
</div>
