<div class="previous_employment template cv_item">
  <div class="field has-addons">
    <p class="control">
      <a class="button is-danger is-rounded" onclick="deleteItem(this)">
        X
      </a>
    </p>
    <p class="control is-expanded">
      <input class="input is-rounded" type="text" placeholder="Company" name="company_name">
    </p>
    <p class="control is-expanded">
      <input class="input is-rounded" type="text" placeholder="Position" name="position_name">
    </p>
    <p class="control">
      <input class="input is-rounded" type="number" placeholder="Years" min="0" name="years">
    </p>
    <p class="control">
      <input class="input is-rounded" type="number" placeholder="Months" min="0" name="months">
    </p>
  </div>
</div>
