<div class="skill template cv_item">
  <div class="field has-addons">
    <p class="control">
      <a class="button is-danger is-rounded" onclick="deleteItem(this)">
        X
      </a>
    </p>
    <p class="control is-expanded">
      <input class="input is-rounded" type="text" placeholder="Skill" name="skill_name">
    </p>
    <div class="control tooltip is-tooltip-info" data-tooltip="(Rate your proficiency. 1 is lowest, 10 highest)">
      <div class="select is-rounded" name="expertise">
        <select>
          <option class="default_option">Expertise</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
    </div>
  </div>
</div>
