// To compile: sass --no-source-map additional_styles.scss:bulma.css

@charset "utf-8";
@import "bulma/bulma.sass";

$yellow: #fff07c;
$green: #82ff9e;
$pink: #ff729f;
$mid_blue: #75dddd;
// $cyan
// $turquoise

// PRIMARY COLOURS
$primary: $turquoise;
$link: mid_blue;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $pink;
$dark: $grey-darker;
$text: $grey-dark;
$background: $white-ter;


// ADDITIONAL CLASSES
.noMargin {
  margin:0px;
}
.smallMargin {
  margin:10px;
}
