<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Applicant Portal</title>
</head>
<script>
function swapForm() {
  $('.registerForm').toggleClass('is-hidden');
  $('.loginForm').toggleClass('is-hidden');
}

// Register new applicant - Return true/false on successful/unsuccessful registration
function register(fname_input,lname_input,email_input,password_input,confirm_password_input) {

  // Get user inputs
  first_name = $(fname_input).val();
  last_name = $(lname_input).val();
  email = $(email_input).val();
  password = $(password_input).val();
  confirm_password = $(confirm_password_input).val();

  // Check if first name has been entered
  if (first_name == "") {
    $(fname_input).addClass("is-danger");
  } else {
    $(fname_input).removeClass("is-danger");
  }

  // Check if last name has been entered
  if (last_name == "") {
    $(lname_input).addClass("is-danger");
  } else {
    $(lname_input).removeClass("is-danger");
  }

  // Check if email has been entered
  if (email == "") {
    $(email_input).addClass("is-danger");
  } else {
    $(email_input).removeClass("is-danger");
  }

  // Check if passwords have been entered and are the same
  if (password != confirm_password || password=="") {
    $(password_input).addClass("is-danger");
    $(confirm_password_input).addClass("is-danger");
    $('#register_error').html("Passwords do not match");
  } else {
    $(password_input).removeClass("is-danger");
    $(confirm_password_input).removeClass("is-danger");
  }

  // Check if any of the inputs have errors, stop processing if so
  if ($(fname_input).parent().find('.is-danger').length != 0) {
    return false;
  }

  // Send data to server to create user
  $.post("/applicant/register",
  {first_name:first_name, last_name:last_name, email:email, password:password},
   function(data) {
     // If user successfully created, send user to jobs page, else show the error message
     if (data == "Success") {
       window.location.href = "/applicant/jobs"
     } else {
       $('#register_error').html(data);
     }
  });

  // Prevent page reload
  return false;

}

// Register new applicant - Return true/false on successful/unsuccessful registration
function login(email_input,password_input) {

  // Get user inputs
  email = $(email_input).val();
  password = $(password_input).val();

  // Check if email has been entered
  if (email == "") {
    $(email_input).addClass("is-danger");
  } else {
    $(email_input).removeClass("is-danger");
  }

  // Check if password has been entered
  if (password == "") {
    $(password_input).addClass("is-danger");
  } else {
    $(password_input).removeClass("is-danger");
  }

  // Check if any of the inputs have errors, stop processing if so
  if ($(email_input).parent().find('.is-danger').length != 0) {
    return false;
  }

  // Send data to server to create user
  $.post("/applicant/login",
  {email:email, password:password},
   function(data) {
     // If user successfully logged in, send user to jobs page, else show the error message
     if (data == "Success") {
       window.location.href = "/applicant/jobs";
     } else {
       $('#login_error').html(data);
     }
  });

  // Prevent page reload
  return false;

}
</script>
<body>
  <div class="hero">
    <div class="hero-head">
      <a class="tag" href="/applicant/jobs">Back to jobs</a>
      <a class="tag" href="/staff/login">Looking for the staff portal?</a>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="subtitle">Applicant Portal</p>
        <form class="box loginForm" onsubmit="return login(email,password);">
          <input class="input is-rounded" type="text" placeholder="Email Address" name="email">
          <input class="input is-rounded" type="password" placeholder="Password" name="password">
          <input class="button is-info is-rounded" type="submit" value="Login">
          <p id="login_error" class="has-text-danger">{{ error }}</p>
          <div class="level">
            <a class="level-left is-info is-rounded is-small">Forgot your password?</a>
            <a class="level-right is-info is-rounded is-small" onclick="swapForm();">Sign Up</a>
          </div>
        </form>
        <form class="box registerForm is-hidden" onsubmit="return register(first_name,last_name,email,password,confirm_password);">
          <input class="input is-rounded" type="text" placeholder="First Name" name="first_name">
          <input class="input is-rounded" type="text" placeholder="Surname" name="last_name">
          <input class="input is-rounded" type="text" placeholder="Email Address" name="email">
          <input class="input is-rounded" type="password" placeholder="Password" name="password">
          <input class="input is-rounded" type="password" placeholder="Confirm Password" name="confirm_password">
          <input class="button is-info is-rounded" type="submit" value="Sign Up">
          <p id="register_error" class="has-text-danger">{{ error }}</p>
          <div class="level">
            <a class="is-info is-rounded is-small" onclick="swapForm();">Already have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
