<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <title>BRAND CV</title>
</head>
<style>
  .template {
    display:none;
  }
</style>
<script>

  function deleteItem(element) {
    $(element).parent().parent().parent().remove();
  }

  function addItem(element) {
    newItem = $(element).parent().find(".template").clone().removeClass('template');
    $(newItem).insertBefore(element);
  }
</script>
<body class="has-navbar-fixed-top has-navbar-fixed-bottom">
  {% include 'header.html' %}

  <nav class="navbar is-success is-fixed-bottom">
    <div class="navbar-brand">
      <a class="button is-success subtitle has-text-weight-bold">
        Save Changes
      </a>
    </div>
  </nav>

  <div class="box">
    <p class="title">University</p>
    <div class="content">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input is-rounded" type="text" placeholder="University Name" name="university_name">
        </p>
        <p class="control is-expanded">
          <input class="input is-rounded" type="text" placeholder="Degree" name="degree_name">
        </p>
        <div class="control">
          <div class="select is-rounded" name="degree_level">
            <select>
              <option>Level</option>
              <option>1st</option>
              <option>2:1</option>
              <option>2:2</option>
              <option>3rd</option>
              <option>Pass</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <p class="title">A-Levels</p>
    <div class="content">
      {% include 'cv_fields/a_level.html' %}
      <a class="button is-info is-rounded" onclick="addItem(this)">Add A-Level</a>
    </div>
  </div>

  <div class="box">
    <p class="title">Languages</p>
    <div class="content">
      {% include 'cv_fields/language.html' %}
      <a class="button is-info is-rounded" onclick="addItem(this)">Add Language</a>
    </div>
  </div>

  <div class="box">
    <p class="title">Previous Employment</p>
    <div class="content">
      {% include 'cv_fields/employment.html' %}
      <a class="button is-info is-rounded" onclick="addItem(this)">Add Employment</a>
    </div>
  </div>

  <div class="box">
    <p class="title">Skills</p>
    <div class="content">
      {% include 'cv_fields/skill.html' %}
      <a class="button is-info is-rounded" onclick="addItem(this)">Add Skill</a>
    </div>
  </div>

  <div class="box">
    <p class="title">Hobbies</p>
    <div class="content">
      {% include 'cv_fields/hobby.html' %}
      <a class="button is-info is-rounded" onclick="addItem(this)">Add Hobby</a>
    </div>
  </div>

</body>
</html>
