<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <title>BRAND Jobs</title>
</head>
<style>
</style>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="description_modal">
    <div class="modal-background" onclick="closeDescriptionModal();"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <div class="modal-message">JOB DESCRIPTION</div>
        <button class="modal-close is-large" aria-label="close" onclick="closeDescriptionModal();"></button>
      </div>
    </div>
  </div>

  <div class="modal" id="application_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Your CV</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        {% include 'editable_cv.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="saveChanges();">Submit</button>
        <button class="button" onclick="closeApplicationModal();">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="test_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        BIG TEST HERE
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="submitTest();">Submit</button>
        <button class="button" onclick="closeTestModal();">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="feedback_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
      </header>
      <section class="modal-card-body">
        BIG FEEDBACK HERE
      </section>
      <footer class="modal-card-foot">
        <button class="button" onclick="closeFeedbackModal();">Cancel</button>
      </footer>
    </div>
  </div>
  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="job_table" style="margin-top:50px">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Position</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="job template">
      <td class="job_title"></td>
      <td class="job_location"></td>
      <td class="job_position"></td>
      <td class="job_deadline"></td>
      <td class="job_status"></td>
      <td>
        <div>
          <a class="button is-rounded is-small view_button" style="margin:2px">View</a>
          <a class="button is-rounded is-small apply_button" style="margin:2px">Apply</a>
        </div>
        <div class="is-hidden job_description"></div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/applicant_jobs.js"></script>
<script>
function refreshJobs() {

  $.get("/applicant/get_jobs", function(data) {

    if (data == "You are not logged in") {
      window.location.href="/";
    }

    $('#job_table tbody .job:not(.template)').remove();

    job_template = $('.job.template');
    all_jobs = JSON.parse(data);
    for (i in all_jobs) {

      // Get all job data from JSON
      job = all_jobs[i];
      job_id = job["ID"];
      job_name = job["Name"];
      job_description = job["Description"];
      job_deadline = job["Deadline"];
      job_location = job["Location"];
      job_position = job["Position"];
      job_status = job["Status"];

      // Insert all data into new row in table
      job_element = $(job_template).clone().removeClass('template').attr('id',job_id);
      $(job_element).find('.job_title').html(job_name);
      $(job_element).find('.job_location').html(job_location);
      $(job_element).find('.job_position').html(job_position);
      $(job_element).find('.job_deadline').html(job_deadline);
      $(job_element).find('.job_status').html(job_status);
      $(job_element).find('.job_description').html(job_description);

      // Insert job at top of table
      $(job_element).insertAfter($(job_template));
    }

  });
}

$(document).ready(function() {
  refreshJobs();
});
</script>
</html>
