<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <script src="/static/js/table.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <title>BRAND Jobs</title>
</head>
<style>
</style>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="description_modal">
    <div class="modal-background" onclick="closeDescriptionModal();"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <div class="modal-message">JOB DESCRIPTION</div>
        <button class="modal-close is-large" aria-label="close" onclick="closeDescriptionModal();"></button>
      </div>
    </div>
  </div>

  <div class="modal" id="application_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Your CV</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        {% include 'editable_cv.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="saveChanges();">Submit</button>
        <button class="button" onclick="closeApplicationModal();">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="test_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        <div class="test_question notification template">
          <p class="question"></p>
          <div class="control">
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer1"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer2"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer3"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer4"></span>
            </label>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="submitTest();">Submit</button>
        <button class="button" onclick="giveUpTest();">Give Up</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="feedback_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
      </header>
      <section class="modal-card-body">
        BIG FEEDBACK HERE
      </section>
      <footer class="modal-card-foot">
        <button class="button" onclick="closeFeedbackModal();">Cancel</button>
      </footer>
    </div>
  </div>
  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="job_table" style="margin-top:50px">
  <thead>
    <tr>
      <th onclick="sortTable(0,this);">Title</th>
      <th onclick="sortTable(1,this);">Location</th>
      <th onclick="sortTable(2,this);">Position</th>
      <th onclick="sortTable(3,this);">Deadline</th>
      <th onclick="sortTable(4,this);">Status</th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="job template">
      <td class="job_title"></td>
      <td class="job_location"></td>
      <td class="job_position"></td>
      <td class="job_deadline"></td>
      <td class="job_status"></td>
      <td>
        <div>
          <a class="button is-rounded is-small view_button" style="margin:2px">View</a>
          <a class="button is-rounded is-small apply_button is-hidden" style="margin:2px">Apply</a>
          <a class="button is-rounded is-small test_button is-hidden" style="margin:2px">Test</a>
          <a class="button is-rounded is-small feedback_button is-hidden" style="margin:2px">Feedback</a>
        </div>
        <div class="is-hidden job_description"></div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/applicant_jobs.js"></script>
<script>

function showTestModal(job_id) {

  // $.post("/applicant/get_job_test",{job_id:job_id},function(data) {
  //   alert(data);
  // });

  $('.test_question:not(.template)').remove();

  questions = [
    {
      "Question":"Q1",
      "Correct":"A1",
      "Incorrect1":"B1",
      "Incorrect2":"C1",
      "Incorrect3":"D1"
    },
    {
      "Question":"Q2",
      "Correct":"A2",
      "Incorrect1":"B2",
      "Incorrect2":"C2",
      "Incorrect3":"D2"
    },
    {
      "Question":"Q3",
      "Correct":"A3",
      "Incorrect1":"B3",
      "Incorrect2":"C3",
      "Incorrect3":"D3"
    }
  ];

  for (q in questions) {
    question = questions[q];
    question_name = question["Question"];
    answers = [];
    answers.push(question["Correct"]);
    answers.push(question["Incorrect1"]);
    answers.push(question["Incorrect2"]);
    answers.push(question["Incorrect3"]);

    test_question = $('.test_question.template').clone().removeClass('template');
    $(test_question).find('.question').html(question_name);

    // Shuffle answers
    for (var i = answers.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = answers[i];
        answers[i] = answers[j];
        answers[j] = temp;
    }

    $(test_question).find('.answer1').html(answers[0]);
    $(test_question).find('.answer2').html(answers[1]);
    $(test_question).find('.answer3').html(answers[2]);
    $(test_question).find('.answer4').html(answers[3]);

    $(test_question).find('input[name="answer"]').attr('name',q);

    $(test_question).insertAfter($('.test_question.template'));

  }

  job_title = $('#'+job_id).find('.job_title').html();

  $('#test_modal .modal-card-title').html(job_title+" - Test");
  $('#test_modal #cur_job_id').html(job_id);
  $('#test_modal').addClass('is-active');
}

function giveUpTest() {
    job_id = $('#test_modal #cur_job_id').html();
    $.post("/applicant/give_up",{job_id:job_id},function(data) {
      if (data != "Success") {
        alert(data);
      }
      $('#'+job_id).find('.test_button').addClass('is-hidden');
      $('#'+job_id).find('.feedback_button').removeClass('is-hidden');
      $('#test_modal').removeClass('is-active');
    });
}

function submitTest() {
  $('#test_modal').removeClass('is-active');
  job_id = $('#cur_job_id').html();
  $('#'+job_id+' .test_button').addClass('is-hidden');
  $('#'+job_id+' .feedback_button').removeClass('is-hidden');
  closeTestModal();
}


function refreshJobs() {

  $.get("/applicant/get_jobs", function(data) {

    if (data == "You are not logged in") {
      window.location.href="/";
    }

    $('#job_table tbody .job:not(.template)').remove();

    job_template = $('.job.template');
    all_jobs = JSON.parse(data);
    for (i in all_jobs) {

      // Get all job data from JSON
      job = all_jobs[i];
      job_id = job["ID"];
      job_name = job["Name"];
      job_description = job["Description"];
      job_deadline = job["Deadline"];
      job_location = job["Location"];
      job_position = job["Position"];
      job_status = job["Status"];

      // Insert all data into new row in table
      job_element = $(job_template).clone().removeClass('template').attr('id',job_id);
      $(job_element).find('.job_title').html(job_name);
      $(job_element).find('.job_location').html(job_location);
      $(job_element).find('.job_position').html(job_position);
      $(job_element).find('.job_deadline').html(job_deadline);
      $(job_element).find('.job_status').html(job_status);
      $(job_element).find('.job_description').html(job_description);

      // $(job_element).find('.apply_button').removeClass('is-hidden');
      $(job_element).find('.test_button').removeClass('is-hidden');

      // Insert job at top of table
      $(job_element).insertAfter($(job_template));
    }

  });
}

$(document).ready(function() {
  refreshJobs();
});

$(window).bind('unload', function(){
  // If test is being taken -> Give user 0 for test
  if ($('#test_modal').hasClass('is-active')) {
      job_id = $('#test_modal #cur_job_id').html();
      $.post("/applicant/give_up",{job_id:job_id},function(data) {
        console.log(data);
      });
  }
});
</script>
</html>
