<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Applicant Portal</title>
</head>
<style>
  body {
    background-image: url("/static/imgs/lines.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
<body>
  <div class="hero">
    <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
        <p class="subtitle">Applicant Portal</p>
        <form class="box loginForm" onsubmit="return login(email,password);">
          <figure class="image container is-128x128">
            <img src="/static/imgs/icon.png">
          </figure>

          <input class="input is-large" type="text" placeholder="Email Address" name="email">
          <input class="input is-large" type="password" placeholder="Password" name="password">
          <input class="button is-info is-block is-fullwidth is-large" type="submit" value="Login">
          <p id="login_error" class="has-text-danger">{{ error }}</p>

          <p class="has-text-grey" style="margin-top:20px;margin-bottom:auto;">
            <a style="color:grey;">Forgot your password?</a> &nbsp;·&nbsp;
            <a onclick="swapForm();" style="color:grey;">Sign Up</a> &nbsp;·&nbsp;
            <a href="/staff/login" style="color:grey;">Looking for the staff portal?</a>
          </p>
        </form>


        <form class="box registerForm is-hidden" onsubmit="return register(first_name,last_name,email,password,confirm_password);">
          <input class="input is-large" type="text" placeholder="First Name" name="first_name">
          <input class="input is-large" type="text" placeholder="Surname" name="last_name">
          <input class="input is-large" type="text" placeholder="Email Address" name="email">
          <input class="input is-large" type="password" placeholder="Password" name="password">
          <input class="input is-large" type="password" placeholder="Confirm Password" name="confirm_password">
          <input class="button is-info is-block is-large is-fullwidth" type="submit" value="Sign Up">
          <p id="register_error" class="has-text-danger">{{ error }}</p>
          <p class="has-text-grey" style="margin-top:20px;margin-bottom:auto;text-align:center;">
            <a style="color:grey;" onclick="swapForm();">Already have an account?</a>
          </p>
        </form>


      </div>
    </div>
    </div>
  </section>
  </div>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/applicant_portal.js"></script>
</html>
