<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <script src="/static/js/table.js"></script>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <title>BRAND Jobs</title>
</head>
<style>
</style>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="description_modal">
    <div class="modal-background" onclick="closeDescriptionModal();"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <textarea class="textarea modal-message" rows="20" readonly>JOB DESCRIPTION</textarea>
        <button class="modal-close is-large" aria-label="close" onclick="closeDescriptionModal();"></button>
      </div>
    </div>
  </div>

  <div class="modal" id="application_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Your CV</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        {% include 'editable_cv.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="saveChanges();">Submit</button>
        <button class="button" onclick="closeApplicationModal();">Cancel</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="are_you_sure_modal">
    <div class="modal-background" onclick="closeAreYouSureModal();"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <div class="modal-message">
          You are about to begin the test for this job.<br>
          You will only get one chance to take this test, and if you exit out of this window during it, you will score 0 for it.<br>
          Are you sure you want to begin the test?
        </div>
        <button class="button begin_test_button is-large is-success" onclick="showTestModal();">Begin Test</button>
        <button class="button is-large is-danger" onclick="closeAreYouSureModal();">Cancel</button>
        <button class="modal-close is-large" aria-label="close" onclick="closeAreYouSureModal();"></button>
      </div>
    </div>
  </div>

  <div class="modal" id="no_test_modal">
    <div class="modal-background" onclick="closeNoTestModal();"></div>
    <div class="modal-content">
      <div class="box has-text-centered">
        <div class="modal-message">
          This position does not require a test; your application has been sent to our recruiting team. You will receive an email about the progress of your application soon.
        </div>
        <button class="modal-close is-large" aria-label="close" onclick="closeNoTestModal();"></button>
      </div>
    </div>
  </div>

  <div class="modal" id="test_modal">
    <div class="modal-background"></div>

    <div class="modal" id="test_feedback_modal">
      <div class="modal-background" onclick="closeTestFeedbackModal();"></div>
      <div class="modal-content">
        <div class="box has-text-centered">
          <div class="modal-message">Your answers have been submitted and your application is now complete. You will receive an email about the progress of your application soon.</div>
          <button class="modal-close is-large" aria-label="close" onclick="closeTestFeedbackModal();"></button>
        </div>
      </div>
    </div>

    <div class="modal" id="test_error_modal">
      <div class="modal-background" onclick="closeTestErrorModal();"></div>
      <div class="modal-content">
        <div class="box has-text-centered">
          <div class="modal-message">FEEDBACK</div>
          <button class="modal-close is-large" aria-label="close" onclick="closeTestErrorModal();"></button>
        </div>
      </div>
    </div>

    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        <div class="test_question notification template">
          <p class="question"></p>
          <div class="control">
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer1"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer2"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer3"></span>
            </label>
            <br>
            <label class="radio">
              <input type="radio" name="answer">
              <span class="answer4"></span>
            </label>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" onclick="submitTest();">Submit</button>
        <button class="button" onclick="giveUpTest();">Give Up</button>
      </footer>
    </div>
  </div>

  <div class="modal" id="feedback_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Job</p>
      </header>
      <section class="modal-card-body">
        BIG FEEDBACK HERE
      </section>
      <footer class="modal-card-foot">
        <button class="button" onclick="closeFeedbackModal();">Cancel</button>
      </footer>
    </div>
  </div>


  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="job_table" style="margin-top:50px">
  <thead>
    <tr>
      <th onclick="sortTable(0,this);">Title</th>
      <th onclick="sortTable(1,this);">Location</th>
      <th onclick="sortTable(2,this);">Position</th>
      <th onclick="sortTable(3,this);">Deadline</th>
      <th onclick="sortTable(4,this);">Status</th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="job template">
      <td class="job_title"></td>
      <td class="job_location"></td>
      <td class="job_position"></td>
      <td class="job_deadline"></td>
      <td class="job_status"></td>
      <td>
        <div>
          <a class="button is-rounded is-small view_button" style="margin:2px">Description</a>
          <a class="button is-rounded is-small apply_button is-hidden" style="margin:2px">Apply</a>
          <a class="button is-rounded is-small test_button is-hidden" style="margin:2px">Test</a>
          <a class="button is-rounded is-small feedback_button is-hidden" style="margin:2px">Feedback</a>
        </div>
        <div class="is-hidden job_description"></div>
        <div class="is-hidden job_feedback"></div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/applicant_jobs.js"></script>
</html>
