<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Applicant Portal</title>
</head>
<script>
  function swapForm() {
  $('.registerForm').toggleClass('is-hidden');
  $('.loginForm').toggleClass('is-hidden');
}
</script>
<body>
  <div class="hero">
    <div class="hero-head">
      <a class="tag" href="/applicant/jobs">Back to jobs</a>
      <a class="tag" href="/staff/login">Looking for the staff portal?</a>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="subtitle">Applicant Portal</p>
        <form class="box loginForm" action ="/applicant/login" method="POST">
          <input class="input is-rounded" type="text" placeholder="Email Address" name="email">
          <input class="input is-rounded" type="password" placeholder="Password" name="password">
          <input class="button is-info is-rounded" type="submit" value="Login">
		  <p>{{ error }}</p>
          <div class="level">
            <a class="level-left is-info is-rounded is-small">Forgot your password?</a>
            <a class="level-right is-info is-rounded is-small" onclick="swapForm();">Sign Up</a>
          </div>
		</form>
        <form class="box registerForm is-hidden" action="/applicant/register" method="POST">
          <input class="input is-rounded" type="text" placeholder="First Name" name="first_name">
          <input class="input is-rounded" type="text" placeholder="Surname" name="last_name">
          <input class="input is-rounded" type="text" placeholder="Email Address" name="email">
          <input class="input is-rounded" type="password" placeholder="Password" name="password">
          <input class="input is-rounded" type="password" placeholder="Confirm Password" name="confirm_password">
          <input class="button is-info is-rounded" type="submit" value="Sign Up">
		  <p>{{ error }}</p>
          <div class="level">
            <a class="is-info is-rounded is-small" onclick="swapForm();">Already have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
