<style>
  .template {
    display:none;
  }
</style>
<div class="modal" id="saving_cv_modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box has-text-centered">
      <progress class="progress is-large is-info" max="100">50%</progress>
      <div class="modal-message">LOADING...</div>
      <button class="modal-close is-large is-hidden" aria-label="close" onclick="closeApplicationLoadingModal();"></button>
    </div>
  </div>
</div>

<div class="box" id="university_details" style="margin-top:50px">
  <p class="title">University</p>
  <div class="content">
    <div class="cv_item university_item">
      <div class="field has-addons">
        <p class="control is-expanded">
          <input class="input is-rounded" type="text" placeholder="University Name" name="university_name">
        </p>
        <p class="control is-expanded">
          <input class="input is-rounded" type="text" placeholder="Degree" name="degree_name">
        </p>
        <div class="control">
          <div class="select is-rounded" name="degree_level">
            <select>
              <option class="default_option">Level</option>
              <option>1st</option>
              <option>2:1</option>
              <option>2:2</option>
              <option>3rd</option>
              <option>Pass</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box" id="a_level_details">
  <p class="title">A-Levels</p>
  <div class="content">
    {% include 'cv_fields/a_level.html' %}
    <a class="button is-info is-rounded add_a_level_button" onclick="addItem(this)">Add A-Level</a>
  </div>
</div>

<div class="box" id="language_details">
  <p class="title">Languages (programming and otherwise)</p>
  <div class="content">
    {% include 'cv_fields/language.html' %}
    <a class="button is-info is-rounded add_language_button" onclick="addItem(this)">Add Language</a>
  </div>
</div>

<div class="box" id="employment_details">
  <p class="title">Previous Employment</p>
  <div class="content">
    {% include 'cv_fields/employment.html' %}
    <a class="button is-info is-rounded add_employment_button" onclick="addItem(this)">Add Employment</a>
  </div>
</div>

<div class="box" id="skill_details">
  <p class="title">Skills</p>
  <div class="content">
    {% include 'cv_fields/skill.html' %}
    <a class="button is-info is-rounded add_skill_button" onclick="addItem(this)">Add Skill</a>
  </div>
</div>

<div class="box" id="hobby_details">
  <p class="title">Hobbies</p>
  <div class="content">
    {% include 'cv_fields/hobby.html' %}
    <a class="button is-info is-rounded add_hobby_button" onclick="addItem(this)">Add Hobby</a>
  </div>
</div>
<script src="/static/js/editable_cv.js"></script>
