
<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" onclick="toggleHamburger(this);">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {% if session['account_type'] == "Applicant" %}
    <div class="navbar-menu">
      <div class="navbar-start">
        <figure class="image container is-96x96">
         <img src="/static/imgs/logo.png">
        </figure>
        <a class="navbar-item" href="/applicant/jobs">Jobs</a>
        <a class="navbar-item" href="/applicant/cv">My CV</a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="/logout">Logout</a>
      </div>
    </div>
  {% else %}
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/staff/jobs">Jobs</a>
    </div>
    <div class="navbar-end">
      <a class="navbar-item" href="/logout">Logout</a>
    </div>
  </div>
  {% endif %}
</nav>
<script src="/static/js/header.js"></script>
