<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Landing Page</title>
</head>
<style>
</style>
<body>
  <div class="is-hidden-mobile">
    <div class="columns">
      <section class="hero is-fullheight column">
        <div class="is-vcentered" style="margin-top:auto;margin-bottom:auto;">
          <figure class="image">
            <img src="/static/imgs/logo.png" alt="logo" width="200">
          </figure>
        </div>
      </section>
      <section class="hero is-fullheight column has-background-black has-text-centered is-vcentered">
        <div class="is-vcentered" style="margin-top:auto;margin-bottom:auto;">
          <h1 class="title is-2">
            Hello.
          </h1>
          <h2 class="subtitle is-4">
            Are you an applicant or a staff member?
          </h2>
          <br>
          <p class="has-text-centered">
            <a class="button is-medium is-info is-outlined" href="/applicant/login">Applicant</a>
            <a class="button is-medium is-info is-outlined" href="/staff/login">Staff</a>
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="is-hidden-tablet">
      <section class="hero is-fullheight has-background-black">
        <div class="is-vcentered has-text-centered">
          <figure class="image">
            <img src="/static/imgs/logo.png" alt="logo" width="200">
          </figure>
          <h1 class="title is-2">
            Hello.
          </h1>
          <h2 class="subtitle is-4">
            Are you an applicant or a staff member?
          </h2>
          <br>
          <p class="has-text-centered">
            <a class="button is-medium is-info is-outlined" href="/applicant/login">Applicant</a>
            <a class="button is-medium is-info is-outlined" href="/staff/login">Staff</a>
          </p>
        </div>
      </section>
    </div>
  </div>
  </div>
</body>
</html>
