<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <title>BRAND Jobs</title>
  <style>
    .template {
      display:none;
    }
  </style>
</head>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="job_modal">
    <div class="modal-background" onclick="closeJobModal();"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">JOB TITLE</p>
        <div class="is-hidden" id="cur_job_id"></div>
      </header>
      <section class="modal-card-body">
        {% include 'new_job.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-rounded" onclick="saveChanges();">Save</button>
        <button class="button is-rounded" onclick="closeJobModal();">Cancel</button>
        <div class="field has-addons">
          <p class="control">
            <input class="input is-rounded" value="Status:" size="6" readonly>
          </p>
          <div class="control is-expanded">
            <div class="select is-rounded" name="job_status">
              <select>
                <option class="default_option">Available</option>
                <option>Unavailable</option>
                <option>Closed</option>
              </select>
            </div>
          </div>
        </div>
      </footer>
      </div>
    </div>

  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="job_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Position</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>
        Actions
        <a class="button is-rounded is-small add_button" onclick="showJobModal(-1);">Add Job</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="job template">
      <td class="job_title"></td>
      <td class="job_location"></td>
      <td class="job_position"></td>
      <td class="job_deadline"></td>
      <td class="job_status"></td>
      <td>
        <div>
          <a class="button is-rounded is-small edit_button" style="margin:2px">Edit</a>
          <a class="button is-rounded is-small delete_button" style="margin:2px">Delete</a>
          <a class="button is-rounded is-small candidates_button" style="margin:2px">Candidates</a>
          <a class="button is-rounded is-small retrain_button" style="margin:2px">Retrain</a>
        </div>
        <div class="is-hidden job_description"></div>
        <div class="is-hidden job_question_number"></div>
        <div class="is-hidden job_questions"></div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
function closeJobModal() {
  $('#job_modal').removeClass('is-active');
}
function showJobModal(job_id) {

  if (job_id == -1) {
    job_name = "";
    job_description = "";
    job_deadline = "";
    job_location = "";
    job_position = "Position";
    modal_title = "Add Job";
    job_status = "Available";
    job_question_number = "";
    job_questions = "[]";
  } else {
    job_name = $('#'+job_id).find('.job_title').html();
    job_description = $('#'+job_id).find('.job_description').html();
    job_deadline = $('#'+job_id).find('.job_deadline').html();
    job_location = $('#'+job_id).find('.job_location').html();
    job_position = $('#'+job_id).find('.job_position').html();
    modal_title = "Edit Job";
    job_status = $('#'+job_id).find('.job_status').html();
    job_question_number = $('#'+job_id).find('.job_question_number').html();
    job_questions = $('#'+job_id).find('.job_questions').html();
  }

  $('#job_modal #cur_job_id').html(job_id);
  $('#job_modal .modal-card-title').html(modal_title);
  $('#job_modal input[name="job_name"]').val(job_name);
  $('#job_modal input[name="job_location"]').val(job_location);
  $('#job_modal input[name="job_deadline"]').val(job_deadline);
  $('#job_modal .job_description_box').html(job_description);
  $('#job_modal div[name="job_position"]').find('select').val(job_position);
  $('#job_modal div[name="job_status"]').find('select').val(job_status);
  $('#job_modal .question_number').val(job_question_number);

  all_questions = JSON.parse(job_questions);
  for (i in all_questions) {
    question = all_questions[i];
    question_element = $('.add_question_button').parent().find(".template").clone().removeClass('template');
    question_title = question["Question"];
    correct = question["Correct"];

    $(question_element).find('input[name="question"]').val(question_title);
    $(question_element).find('input[name="correct_answer"]').val(correct);

    incorrect_answers = question["Incorrect"];
    incorrect1 = incorrect_answers[0]["Answer"];
    incorrect2 = incorrect_answers[1]["Answer"];
    incorrect3 = incorrect_answers[2]["Answer"];

    $(question_element).find('input[name="incorrect_answer"]:nth-of-type(1)').val(incorrect1);
    $(question_element).find('input[name="incorrect_answer"]:nth-of-type(2)').val(incorrect2);
    $(question_element).find('input[name="incorrect_answer"]:nth-of-type(3)').val(incorrect3);

    $(question_element).insertBefore('.add_question_button');
  }

  $('#job_modal').addClass('is-active');
}
function closeCompletedJobModal() {
  $('#saving_job_modal .modal-close').attr('onclick','closeJobLoadingModal();');
  closeJobLoadingModal();
  closeJobModal();
}


$('#job_table').on('click', '.edit_button', function(event) {
  var job_id = $(this).parent().parent().parent().attr('id');
  showJobModal(job_id);
});
$('#job_table').on('click', '.delete_button', function(event) {
    var job_id = $(this).parent().parent().parent().attr('id');
    // DELETE JOB
    $.post("/staff/delete_job",{job_id:job_id},function(data) {
      if (data == "Success") {
        $('#'+job_id).remove();
      } else {
        alert(data);
      }
    });
});
$('#job_table').on('click', '.candidates_button', function(event) {
  var job_id = $(this).parent().parent().parent().attr('id');
  window.location.href="/staff/candidates?id="+job_id;
});

function refreshJobs() {

  $.get("/staff/get_jobs", function(data) {

    if (data == "You are not logged in") {
      window.location.href="/";
    }

    $('#job_table tbody .job:not(.template)').remove();


    job_template = $('.job.template');
    all_jobs = JSON.parse(data);
    for (i in all_jobs) {

      // Get all job data from JSON
      job = all_jobs[i];
      job_id = job["ID"];
      job_name = job["Name"];
      job_description = job["Description"];
      job_deadline = job["Deadline"];
      job_location = job["Location"];
      job_position = job["Position"];
      job_status = job["Status"];
      job_question_number = 2; // TEMPORARY VALUE
      job_questions = [
        {"Question":"Q1",
        "Correct":"A",
        "Incorrect":[
          {"Answer":"B"},
          {"Answer":"C"},
          {"Answer":"D"}
        ]},
        {"Question":"Q2",
        "Correct":"A2",
        "Incorrect":[
          {"Answer":"B2"},
          {"Answer":"C2"},
          {"Answer":"D2"}
        ]}
      ]; // TEMPORARY VALUE

      // Insert all data into new row in table
      job_element = $(job_template).clone().removeClass('template').attr('id',job_id);
      $(job_element).find('.job_title').html(job_name);
      $(job_element).find('.job_location').html(job_location);
      $(job_element).find('.job_position').html(job_position);
      $(job_element).find('.job_deadline').html(job_deadline);
      $(job_element).find('.job_status').html(job_status);
      $(job_element).find('.job_description').html(job_description);
      $(job_element).find('.job_question_number').html(job_question_number);
      $(job_element).find('.job_questions').html(JSON.stringify(job_questions));


      // Insert job at top of table
      $(job_element).insertAfter($(job_template));
    }
  });
}

$(document).ready(function() {
  refreshJobs();
});

</script>
</html>
