<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <title>BRAND Jobs</title>
  <style>
    .template {
      display:none;
    }
  </style>
</head>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="job_modal">
    <div class="modal-background" onclick="closeJobModal();"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">JOB TITLE</p>
      </header>
      <section class="modal-card-body">
        {% include 'new_job.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button" onclick="saveChanges();">Save</button>
        <button class="button" onclick="closeJobModal();">Cancel</button>
      </footer>
      </div>
    </div>

  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="job_table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Position</th>
      <th>Deadline</th>
      <th>
        Actions
        <a class="button is-rounded is-small add_button" onclick="showJobModal(-1);">Add Job</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="job template">
      <td class="job_title"></td>
      <td class="job_location"></td>
      <td class="job_position"></td>
      <td class="job_deadline"></td>
      <td>
        <div>
          <a class="button is-rounded is-small edit_button" style="margin:2px">Edit</a>
          <a class="button is-rounded is-small delete_button" style="margin:2px">Delete</a>
          <a class="button is-rounded is-small candidates_button" style="margin:2px">Candidates</a>
          <a class="button is-rounded is-small retrain_button" style="margin:2px">Retrain</a>
        </div>
        <div class="is-hidden job_description"></div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script>
function closeJobModal() {
  $('#job_modal').removeClass('is-active');
}
function showJobModal(job_id) {

  if (job_id == -1) {
    job_name = "";
    job_description = "";
    job_deadline = "";
    job_location = "";
    job_position = "";
    modal_title = "Add Job";
  } else {
    job_name = $('#'+job_id).find('.job_title').html();
    job_description = $('#'+job_id).find('.job_description').html();
    job_deadline = $('#'+job_id).find('.job_deadline').html();
    job_location = $('#'+job_id).find('.job_location').html();
    job_position = $('#'+job_id).find('.job_position').html();
    modal_title = "Edit Job";
  }



  $('#job_modal #cur_job_id').html(job_id);
  $('#job_modal .modal-card-title').html(modal_title);
  $('#job_modal input[name="job_name"]').val(job_name);
  $('#job_modal input[name="job_location"]').val(job_location);
  $('#job_modal input[name="job_deadline"]').val(job_deadline);
  $('#job_modal .job_description_box').html(job_description);

  $('#job_modal').addClass('is-active');
}
function closeCompletedJobModal() {
  $('#saving_job_modal .modal-close').attr('onclick','closeJobLoadingModal();');
  closeJobLoadingModal();
  closeJobModal();
}


$('#job_table').on('click', '.edit_button', function(event) {
  var job_id = $(this).parent().parent().parent().attr('id');
  showJobModal(job_id);
});
$('#job_table').on('click', '.delete_button', function(event) {
    var job_id = $(this).parent().parent().parent().attr('id');
    // DELETE JOB
    $.post("/staff/delete_job",{job_id:job_id},function(data) {
      if (data == "Success") {
        $('#'+job_id).remove();
      } else {
        alert(data);
      }
    });
});
$('#job_table').on('click', '.candidates_button', function(event) {
  var job_id = $(this).parent().parent().parent().attr('id');
  window.location.href="/staff/candidates?id="+job_id;
});

$(document).ready(function() {
  $.get("/staff/get_jobs", function(data) {

    job_template = $('.job.template');
    all_jobs = JSON.parse(data);
    for (i in all_jobs) {

      // Get all job data from JSON
      job = all_jobs[i];
      job_id = job["ID"];
      job_name = job["Name"];
      job_description = job["Description"];
      job_deadline = job["Deadline"];
      job_location = job["Location"];
      job_position = job["Position"];

      // Insert all data into new row in table
      job_element = $(job_template).clone().removeClass('template').attr('id',job_id);
      $(job_element).find('.job_title').html(job_name);
      $(job_element).find('.job_location').html(job_location);
      $(job_element).find('.job_position').html(job_position);
      $(job_element).find('.job_deadline').html(job_deadline);
      $(job_element).find('.job_description').html(job_description);

      // Insert job at top of table
      $(job_element).insertAfter($(job_template));
    }
  });
});

</script>
</html>
