<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.css">
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
  <title>Staff Portal</title>
</head>
<body>
  <div class="hero">
    <div class="hero-head">
      <a class="tag" href="/applicant/jobs">Back to jobs</a>
      <a class="tag" href="/applicant/login">Looking for the applicant portal?</a>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="subtitle">Staff Portal</p>
        <form class="box loginForm">
          <input class="input is-rounded" type="text" placeholder="Email Address">
          <input class="input is-rounded" type="password" placeholder="Password">
          <a class="button is-info is-rounded">Login</a>
          <div class="level">
            <a class="is-info is-rounded is-small">Forgot your password?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
