<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/bulma_min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
  <title>BRAND Candidates</title>
</head>
<style>
</style>
<body class="has-navbar-fixed-top">
  {% include 'header.html' %}

  <div class="modal" id="cv_modal">
    <div class="modal-background" onclick="closeCVModal();"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">NAMETY NAME</p>
      </header>
      <section class="modal-card-body">
        {% include 'readable_cv.html' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button" onclick="closeCVModal();">Cancel</button>
      </footer>
      </div>
    </div>

    <div class="modal" id="error_modal">
      <div class="modal-background" onclick="$(this).parent().removeClass('is-active');"></div>
      <div class="modal-content">
        <div class="box has-text-centered">
          <div class="modal-message">ERROR MESSAGE</div>
          <button class="modal-close is-large" aria-label="close" onclick="$(this).parent().parent().parent().removeClass('is-active');"></button>
        </div>
      </div>
    </div>

  <table class="table is-hoverable is-fullwidth is-bordered is-striped" id="candidates_table">
  <thead>
    <tr>
      <th>Job</th>
      <th>Candidate</th>
      <th>Score</th>
      <th>
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr id="5">
      <td>Software Engineer</td>
      <td>John Smith</td>
      <td>500</td>
      <td>
        <div class="columns has-text-centered is-gapless">
          <div class="column">
            <a class="button is-rounded is-small cv_button" style="margin:2px">Show CV</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small like_button" style="margin:2px">Like</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small dislike_button" style="margin:2px">Dislike</a>
          </div>
        </div>
      </td>
    </tr>
    <tr id="43">
      <td>Analyst</td>
      <td>Jack Daniels</td>
      <td>430</td>
      <td>
        <div class="columns has-text-centered is-gapless">
          <div class="column">
            <a class="button is-rounded is-small cv_button" style="margin:2px">Show CV</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small like_button" style="margin:2px">Like</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small dislike_button" style="margin:2px">Dislike</a>
          </div>
        </div>
      </td>
    </tr>
    <tr id="52">
      <td>Software Engineer</td>
      <td>Jane Doe</td>
      <td>300</td>
      <td>
        <div class="columns has-text-centered is-gapless">
          <div class="column">
            <a class="button is-rounded is-small cv_button" style="margin:2px">Show CV</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small like_button" style="margin:2px">Like</a>
          </div>
          <div class="column">
            <a class="button is-rounded is-small dislike_button" style="margin:2px">Dislike</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</body>
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/staff_candidates.js"></script>
</html>
